
#header {
    z-index: 0;
}

#contact_us {
    position: sticky;
    /* height: 50vh; */
    background-color: rgb(72, 109, 209);
}

#contact_us .container {
    padding: 80px 0 80px 0;
}