/* Body */


@font-face {
    font-family: Chronicle;
    src: url("Chronicle\ Display\ Italic.otf");
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url("Museo\ Sans\ 700.ttf");
}



/* Title Section */
#navbar_top {
    /* height: 100vh; */
}

/* Navbar */

.navbar{
    /* pointer-events: none; prohibits blocking the links */
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.logo-image {
    width: 2.5em;
    pointer-events: all;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    padding-right: 2em; /* For having the call button in center*/
}

.navbar-nav {
    text-align: center;
}

.hamburger {
    z-index: 1046;
    pointer-events: all;
}



/* Offcanvas */

.offcanvas {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100vw;
    transition-duration: .8s;
    /* transition-delay: .3s; */
    transform: translateX(-320px);/*to slide out offcanvas 320px*/ 
}

.offcanvas-entire-field {
    display: flex;
    height: 100vh;
  }

.offcanvasOnField {
    /* background-color: rgb(0, 39, 89); */
    background-color: rgba(44,59,90,255);
    flex: 0 0 320px; /* do not grow, do not shrink, start at 320px */
}

.offcanvas-body {
    text-transform: uppercase;
    padding: 75px 0;
    /* font-family: 'Museo Sans 700'; */
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    margin: 25px 25px 0 25px
}

.offcanvas-body a{
    padding: 11px;
}

.offcanvasOffField {
    background-color: rgba(0, 0, 0, 0);
    flex: 1;  /* grow */
}

/* Hamburger Button does's highlight after clicking */
#offcanvasClose:focus {
    outline: 0;
}

.slide-opened body {
    overflow: hidden;
}

.nav-link{
    color: gold;
}
.nav-link:hover{
    color: rgb(250, 241, 192);
}



/* Header Section: Welcome */


#header {
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1; /* It changes to 0 depending on the scroll (Javascript)*/
}

.header-content{
    /* height: 100vh; */
}

.background_image_1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -6;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.welcome{
    position: absolute;
    height: 100vh;
    /* text-align: center; */
    right: 0;
    width: 100%;
    margin: 0;
    padding-left: 5%;
    z-index: -6;
    color: gold;
}

.welcome-text{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Kurale', serif;
    font-size: 70px;
    font-style: italic;
}

.welcome-text2{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Kurale', serif;
    font-size: 28px;
    font-style: italic;
}

/* .welcome-text2-adj{
    letter-spacing: -2px;
} */









/* Type_of_services */

#type_of_services{
    z-index: 1;
    /* background-color: rgb(0, 39, 89); */
    background-color: rgba(44,59,90,255);
    /* height: 100vh; */
    position: sticky;
    /* top: 0; */
    border-radius: 10px;
    /* box-shadow: 50px 50px 50px 50px rgb(44,59,90); */
}


.type_of_services_body, .slogan_container {
    /* text-align: center; */
    /* height: 100vh; */
    /* max-width: 600px; */
    /* margin-left: auto;
    margin-right: auto; */
    font-family: 'Kurale', serif;
    font-style: italic;
    color: gold;
}


.type_of_services_body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.type_of_services_body div, .slogan_container{
    padding: 30px;
}

.type_of_services_body .text{
    /* margin-top: 100px;
    margin-left: 100px; */
    /* height: 100%; */
    /* width: 100%; */
    text-align: center;

}

.type_of_services_body h1{
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}

.card{
    /* height: 250px;
    width: 275px; */
    height: 100%;
    width: 70%;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    /* padding: 0 !important; */
    background-color: rgba(92,114,163,255);
}

.card img{
    border-radius: 50px 50px 0 0;
    width: 100%;
    height: 50%;
    /* object-fit: cover; */
}

.card-text{
    font-style: italic;
    text-decoration: underline;
    bottom: 0;
}

#services a{
    color: gold;
    text-decoration: none;
}
#services a:hover{
    color: rgb(233, 233, 200);
}
.card-title{
    color: gold;
}


#services, #services .row, #services .col, 
#services .card, #services .card-body{
    padding: 0;
}

#services .card-body{
    padding-top: 5%;
}

#services .col{
    height: 25vh;
}

.side_image_right{
    text-align: center;
}

.background_image_33{

    /* float:  right; */
    /* margin-top: 150px; */
    /* margin-right: 100px; */

    width: 75%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.hehe1{
    width: 100%;
    height: 50vh;
}




/* Don't know what to call this yet */














/* carousel_photos */

#carousel_photos{
    height: 120vh;
    position: sticky;
    bottom: -20vh;
    top: 0;
    background-color: rgb(0, 39, 89);
}

.carousel-indicators{
    top: 92vh;
}

.carousel-inner{
    /* text-align: center; */
}

.carousel-item{
    text-align: center;
}

.carousel-item img{
    border-radius: 10px;
    width: auto;
    height: 75vh;
    /* object-fit: cover; */
    margin-top: 12.5vh;
    margin-left: auto;
    margin-right: auto;
}






/* Why choose Us */

#why_choose_us{
    position: sticky;
    /* top: 0vh; */
    background-color: rgba(44,59,90,255);
}




.expect {
    color: gold;
    background-color: rgb(97, 144, 238);
    border-radius: 15px 0 0 3px;
    margin: 0;
    width: 85vw;
    margin-left: auto;
    padding: 10vh;
    padding-bottom: 7vh;
}

.expect div {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.expect_header {
    padding-bottom: 70px
}
.expect .row{
    /* padding-bottom: 70px; */
}

.expect h1{
    text-align: center;
}

.expect .col-lg-6{
    max-width: 500px;
    margin-right: 0;
    margin-left: 0;
    margin: 0 50px 70px 50px;
}








/* Call Us */

#call_us{
    position: sticky;
    background-color: rgb(70, 88, 123);
    color: gold;
    text-align: center;
    padding: 70px 0 50px 0;
}

#call_us h1, h3 {
    margin-bottom: 50px;
}
#call_us button, h4{
    margin-bottom: 30px;
}






/* Footer */

#footer{
    position: sticky;
    background-color: rgba(44,59,90,255);
}

#footer a{
    text-decoration: none;
}

#footer .footer_logo{
    width: 90%;
    margin: 40px 0 40px 10%;
    padding: 0;
    text-align: left;
}

#footer .footer_logo_text{
    font-family: 'Kurale', serif;
    font-size: 50px;
    font-style: italic;
    color: gold;
}

#footer .logo-image2{
    width: 2.5rem;
    vertical-align: 0;
    margin-left: 25px;
    margin-left: 15px;
}

#footer .about_us h4, h5{
    text-align: center;
}

#footer .about_us h4{
    font-size: 25px;
    margin-bottom: 23px;
}

#footer .about_us h5{
    font-size: 18px;
    margin-bottom: 12px;
}

#footer .follow-us{
    text-align: center;
}

#footer .follow-us h4 {
    font-size: 25px;
    margin-bottom: 25px;
}

#footer .follow-us .fa{
    font-size: 35px;
}
#footer .follow-us .fa-facebook{
    margin-right: 60px;
}


#footer .payment {
    margin-top: 50px;
    padding-bottom: 40px;
}

#footer .payment .row{
    text-align: center;
    justify-content: center;
}

#footer .payment h4 {
    font-size: 25px;
    margin-bottom: 27px;
}

#footer .payment img{
    width: 4.3rem;
    padding: 0 5px;
}









@media (min-width: 768px) {

    /* Navbar */
    .navbar {
        margin: 1.6em 0;
    }


    /* About Us */
    .type_of_services_body{
        font-size: 18px;
    }

}

@media (min-width: 992px) {

    /* Type of Services */

    .side_image_left {
        height: 100vh;
    }
}


@media (min-width: 2000px) {

    /* About Us */
    .type_of_services_body{
        font-size: 20px;
    }

}

@media (max-width: 2000px){
    

}

@media (max-width: 1200px) {

  

}

@media (max-width: 991px) {

    /* Navbar */

    /* Header Welcome */

    .welcome > .col{
        padding-bottom: 25vh;
    }



    /* Type of Services */

    .side_image_left {
        height: 50vh;
    }


    /* carousel_photos */

    .carousel-item img{
        width: 100%;
        height: 65vh;
        margin-top: 20vh;
    }

    .carousel-item .photo_potrait{
        width: auto;
    }

    .carousel-control-prev, .carousel-control-next{
        padding-top: 20vh;
    }



    /* Why choose Us */

    .expect {
        width: 90vw;
        padding: 3vh;
        padding-bottom: 7vh;
    }

    .expect .col-lg-6{
        margin-bottom: 50px;
    }




    /* Footer */


    #footer .footer_logo{
        margin: 30px 0 30px 10%;
    }

    #footer .footer_logo_text{
        font-size: 40px;
    }

    #footer .logo-image2{
        width: 2rem;
    }

    #footer .about_us {
        margin-top: 15px;
    }

    #footer .about_us h4{
        font-size: 25px;
        margin-bottom: 23px;
    }

    #footer .about_us h5{
        font-size: 18px;
        margin-bottom: 12px;
    }

    #footer .follow-us {
        margin-top: 30px;
    }

    #footer .follow-us h4 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    #footer .follow-us .fa{
        font-size: 35px;
    }
    #footer .follow-us .fa-facebook{
        margin-right: 60px;
    }

    #footer .payment {
        margin-top: 50px;
        padding-bottom: 40px;
    }

    #footer .payment h4 {
        font-size: 25px;
        margin-bottom: 23px;
    }

    


}

@media (max-width: 767px) {

    /* Navbar */

    .logo-image {
        width: 5em;
    }

    /* Header Welcome */

    /* Header Section */

    .welcome-text{
        font-size: 32px;
    }

    .welcome-text2{
        font-size: 13px;
    }

    .welcome-text2-adj{
        letter-spacing: -1px;
    }


    /* Why choose Us */

    #why_choose_us{
        /* top: -30vh; */
    }

    

}

@media (max-width: 575px) {



        /* Footer */


    #footer .footer_logo_text{
        font-size: 30px;
    }

    #footer .logo-image2{
        width: 1.75rem;
    }

    #footer .about_us {
        margin-top: 10px;
    }

    #footer .about_us h4{
        font-size: 21px;
        margin-bottom: 17px;
    }

    #footer .about_us h5{
        font-size: 15px;
    }


    #footer .follow-us h4 {
        font-size: 21px;
        margin-bottom: 25px;
    }

    #footer .follow-us .fa{
        font-size: 30px;
    }


    #footer .payment h4 {
        font-size: 21px;
    }

    #footer .payment img{
        width: 3.2rem;
    }



}

@media (max-width: 475px) {

    

    /* carousel_photos */

    .carousel-item img{
        width: 100%;
        height: 50vh;
        margin-top: 25vh;
    }

    .carousel-control-prev, .carousel-control-next{
        padding-top: 25vh;
    }


    /* Footer */


    #footer .footer_logo_text{
        font-size: 25px;
    }

    #footer .logo-image2{
        width: 1.5rem;
    }

    #footer .about_us {
        margin-top: 10px;
    }

    #footer .about_us h4{
        font-size: 19px;
        margin-bottom: 13px;
    }

    #footer .about_us h5{
        font-size: 15px;
        margin-bottom: 16px;
    }


    #footer .follow-us h4 {
        font-size: 19px;
        margin-bottom: 25px;
    }

    #footer .follow-us .fa{
        font-size: 30px;
    }


    #footer .payment {
        margin-top: 40px;
    }

    #footer .payment h4 {
        font-size: 19px;
        margin-bottom: 18px;
    }

    #footer .payment img{
        width: 3rem;
    }


}